{% extends 'default/layout/base.html.twig' %}
{% block body %}
    <style>
        .not-found{
            margin: 5em 0 0 0;
            text-align: center;
        }
        .page-margin{
            margin: 10em 0 25em 0;
        }
    </style>
    <section id="item-featured-search">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="category-page-title">Error 500</h3>
                </div>
            </div>
            <div class="animated fadeIn">
            </div>
        </div>
    </section>
    <div class="row">
        <div class="page-margin">
        <h1 class="not-found">Oh no! Looks like a possible server error.</h1>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {# ... #}
        {% endif %}

        <p class="not-found">
            The requested page couldn't be located. Checkout for any URL
            misspelling or <a href="{{ path('homepage') }}">return to the homepage</a>.
        </p>
        </div>
    </div>
{% endblock %}