{% extends 'default/layout/base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}

    <div>

        <div class="container-fluid">
            <div class="main-container">

                <h2>{{ page.name }}</h2>

                <p>{{ page.content }}</p>

            </div>
        </div>

    </div>



{% endblock %}