{% extends 'default/layout/base.html.twig' %}
{% form_theme form 'default/form/errors.html.twig' %}

{% block title %}Recover - {% endblock %}

{% block body %}

    <section id="item-featured-search">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="category-page-title"><i class="fa fa-user" aria-hidden="true"></i> ENTER EMAIL</h3>
                </div>
            </div>
            <div class="animated fadeIn">
            </div>
        </div>
    </section>

    <section class="page-header">
        <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div id="auth" class="animated fadeIn">
                    {% if app.session.flashBag.has('user_error') %}
                        <div class="alert alert-warning">
                            {% for msg in app.session.flashBag.get('user_error') %}
                                {{ msg|raw }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {{ form_start(form) }}

                    {{ form_row(form.email) }}

                    <button type="submit" class="btn btn-primary btn-lg btn-block" formnovalidate> Submit</button>

                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </section>

{% endblock %}